@font-face {
  font-family: 'Balsamiq';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: font-url("BalsamiqSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Balsamiq';
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: font-url("BalsamiqSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Balsamiq';
  font-style:  normal;
  font-weight: 700;
  font-stretch: normal;
  src: font-url("BalsamiqSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Balsamiq';
  font-style:  italic;
  font-weight: 700;
  font-stretch: normal;
  src: font-url("BalsamiqSans-BoldItalic.ttf") format("truetype");
}
